[Unit]
Description=OSS Proxy Daemon
Documentation=man:osspd

[Service]
ExecStart=/usr/sbin/osspd -f --dsp-slave=/usr/lib/osspd/ossp-slave

[Install]
WantedBy=multi-user.target
